body {
  font-family: Avenir, sans-serif;
}
.App {
  text-align: center;
  padding: 0 70px;
}
.App-header {
  height: 400px;
  margin: 20px;
  color: #555;
}
.User-grid {
  margin-left: 20px;
}
.User-grid * {
  transition: all 0.1s ease-in;
}
.User-grid .User-grid-thumbnail {
  width: 80px;
  height: 80px;
  cursor: pointer;
  border-radius: 50%;
  display: block;
  float: left;
  line-height: 30px;
  margin: 10px;
}
.User-grid .User-grid-thumbnail.sibling {
  transform: scale(1.05);
}
.User-grid .User-grid-thumbnail.current {
  transform: scale(1.3);
  z-index: 5;
  position: relative;
}
.User-grid .User-grid-thumbnail:hover {
  background: #BBB;
}
.Featured-card {
  width: 5%;
  border-radius: 5px;
  border-color: #333;
  padding: 10px;
  font-family: Avenir, sans-serif;
}
.Featured-card .Featured-card-image {
  max-height: 300px;
  min-width: 150px;
  margin-top: 100px;
}
.Featured-card .Featured-card-image img {
  border-radius: 50%;
  height: 90%;
  width: 90%;
  margin-top: -40%;
  border: 2pt solid #eee;
}
.Featured-card .Featured-card-name {
  color: #555;
  font-size: 14pt;
}
.Featured-card .Featured-card-bio {
  color: #777;
  font-size: 9pt;
}
